// Variables
$website-width: 1280px;
$main-color: #70c5fd;
$secondary-color: rgb(110, 82, 157);
$tertiary-color: rgb(217, 123, 147);
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$primary-color: #1cb7ff;
$bg-image: url("");
$success-color: #56c06d;
$warning-color: #ffbb00;
$danger-color: #d44;
$black: #000;
$white: #fff;

// Greys
$grey-75: #333;
$grey-50: #777;
$grey-25: #bbb;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
