// Variables
$website-width: 1280px;
$main-color: #70c5fd;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$primary-color: #1cb7ff;
$bg-image: url("");
$success-color: #56c06d;
$warning-color: #ffbb00;
$danger-color: #d44;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
