.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

// Display
.d-ib {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

// Colors
.c-primary {
  color: $primary-color;
}

.c-success {
  color: $success-color;
}

.c-muted {
  color: $medium-color;
}

.c-warning {
  color: $warning-color;
}

.c-danger {
  color: lighten($danger-color, 10);
}

.c-price {
  color: #e69833;
}

.c-grey-25 {
  color: $grey-25;
}

.c-grey-50 {
  color: $grey-50;
}

.c-grey-75 {
  color: $grey-75;
}

.bg-grey-25 {
  background-color: $grey-25;
}

.bg-grey-50 {
  background-color: $grey-50;
}

.bg-grey-75 {
  background-color: $grey-75;
}

// Fonts
br {
  font-size: 1rem;
}

.sm {
  font-size: small;
}

// Links & Nav
a {
  cursor: pointer;
  color: black;
}

.router-link {
  color: pink;
}

.nav-back {
  color: $dark-color;
  cursor: pointer;

  i {
    color: $primary-color;
  }
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.6rem 2rem;
  transition: all 0.5s;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  &:disabled {
    background-color: #bbb;
    cursor: default;
  }

  i {
    font-size: 0.9rem;
  }
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }

  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }

  &-primary {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $primary-color;
  }

  &-success {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $success-color;
  }

  &-danger {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $danger-color;
  }

  &-submit {
    @extend %btn-shared;
    background-color: $primary-color;
    color: $white;
    padding: 10px 20px;
  }

  &-nav {
    @extend %btn-shared;
    border: none;
    background: transparent;
  }

  &-warn-clear {
    @extend %btn-shared;
    color: $warning-color;
    padding: 0.3rem 1rem;
    margin: 0 0.5rem;
    border: 1px solid $warning-color;
    background: transparent;

    &:hover {
      color: lighten($warning-color, 40);
      background: $warning-color;
    }
  }

  &-basket {
    @extend %btn-shared;
    color: #333;
    background-color: lighten($success-color, 20);
    padding: 0.5rem 0;
    transition: all 0s;
  }

  &-basket-danger {
    @extend %btn-shared;
    color: #fff;
    background-color: lighten($danger-color, 10);
    padding: 0.2rem 0.5rem;
    transition: all 0s;
  }

  &-sm {
    font-size: 0.9rem;
    padding: 0.2rem 0.7rem;
  }
}

button[class^="btn-"]:hover:enabled,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  opacity: 0.5;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

// Backgrounds
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}

// Text
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #ccc;
}

// Padding
.p-0 {
  padding: 0;
}

.py {
  &-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  &-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.px {
  &-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  &-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

// Margin
.my {
  &-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  &-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.mb {
  &-1 {
    margin-bottom: 1rem;
  }
  &-2 {
    margin-bottom: 2rem;
  }
  &-3 {
    margin-bottom: 3rem;
  }
  &-4 {
    margin-bottom: 4rem;
  }
}

.mt {
  &-1 {
    margin-top: 1rem;
  }
  &-2 {
    margin-top: 2rem;
  }
  &-3 {
    margin-top: 3rem;
  }
  &-4 {
    margin-top: 4rem;
  }
}

.section-title {
  font-size: 2rem;
  display: block;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: $main-color;
  display: block;
  margin: 0 auto 1rem auto;
}

// Forms
%form {
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  button {
    font-size: 0.9rem;
    margin: auto;
    border-radius: 0.3rem;
  }

  .required {
    color: $danger_color;
    width: 250px;
  }

  input[type="checkbox"] {
    display: inline;
  }

  textarea {
    font-size: 1rem;
    line-height: 1.6;
    width: 100%;
    height: 150px;
    resize: none;
  }
}

%form-ctrl {
  margin-bottom: 5px;
  padding-bottom: 10px;
  position: relative;

  label {
    color: #777;
    display: block;
    margin-bottom: 5px;
  }

  input {
    border: 1px solid #777;
    border-radius: 0.3rem;
    padding: 5px;
    margin-bottom: 5px;

    &::placeholder {
      font-size: 0.9rem;
    }
  }
}

.form {
  @extend %form;
}

.form-control {
  @extend %form-ctrl;
}

.form-control-chkbox {
  @extend %form-ctrl;
  display: flex;
  justify-content: space-around;
  margin: 1rem;

  label {
    display: inline;
  }
}

// Cards
.card {
  border: 1px solid $dark-color;
  padding: 20px;
}

// Cursor
.cu-none {
  cursor: none;
}

.cu-def {
  cursor: default;
}

.cu-point {
  cursor: pointer;
}

// Rotation
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
}
